MSSQL_SA_PASSWORD=ChangeThis_LocalOnly_123!
SQLSERVER_PORT=1433
ConnectionStrings__DefaultConnection="Server=localhost,1433;Database=PpecbAssessment;User Id=sa;Password=ChangeThis_LocalOnly_123!;Encrypt=True;TrustServerCertificate=True"
